.app {
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-image {
      width: 250px;
      height: auto;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
